a { text-decoration: none }

a[role=edit] {
    float: right
}

#resources {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-gap: 1rem;
}

article {
    display: grid;
    grid-template-rows: 6rem auto 3rem;
    grid-gap: 0;
    grid-auto-flow: row;
}

article footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between
}

.gitHubLink {
    text-align: right;
}