<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    {% set css %} {% include "css/pico.sand.min.css" %} {% endset %}<style>{{ css | cssmin | safe }}</style>
    {% set css %} {% include "css/site.css" %} {% endset %}<style>{{ css | cssmin | safe }}</style>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <title>Johnson County Resources</title>
  </head>
  <body>
    <header class="container">
        {% include 'nav.njk' %}
    </header>
    <main class="container">
      {% include 'search.njk' %}
      <hr />
        {{ content | safe }}
    </main>
    <footer class="container">
    </footer>
  </body>
  {% set js %} {% include "js/search.js" %} {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</html>