<nav>
    <ul>
        <li><strong>Johnson County Resources</strong></li>
    </ul>
    <ul>
        <li><a href="about" class="contrast">About</a></li>
        <li><a href="#" class="contrast">Map</a></li>
        <li><a href="#" class="contrast">Directory</a></li>
        <li><a href="#" class="contrast">Volunteer</a></li>
    </ul>
</nav>