<article 
    data-key="{{ key }}" class="resource-card"
    data-title="{{ resource.title }}"
    data-note="{{ resource.note }}"
    data-tags="{{ resource.tags | join }}">
    <header>
        <hgroup>
            <h5>{{ resource.title }}</h5>
            <p><a href="/?search={{ resource.organization | urlencode }}">{{ resource.organization }}</a></p>
            <p>
                {% for tag in resource.tags %}
                    <a href="/?search=tags:{{ tag | urlencode }}"><small>#{{ tag }}</small></a>
                {% endfor %}
            </p>
        </hgroup>
    </header>
    <main>
        <p>{{ resource.note | nl2br | safe }}</p>
        {% include 'resource/phone.njk' %}
        {% include 'resource/email.njk' %}
        {% include 'resource/location.njk' %}
    </main>
    <footer>
        <a href="{{ resource.gitHubLink }}" target="_blank"><small>Edit</small></a>
    </footer>
</article>
