<article data-key="{{ key }}" class="resource-card">
    <header>
        <hgroup>
            <h5 data-resource-title="{{ resource.title }}">{{ resource.title }}</h5>
            <p><a href="/?search={{ resource.organization | urlencode }}">{{ resource.organization }}</a></p>
            {% include 'resource/tags.njk' %}
        </hgroup>
    </header>
    <main>
        <p>{{ resource.note | nl2br | safe }}</p>
        {% include 'resource/phone.njk' %}
        {% include 'resource/email.njk' %}
        {% include 'resource/location.njk' %}
    </main>
    <footer>
        <a href="{{ resource.gitHubLink }}" target="_blank"><small>Edit</small></a>
    </footer>
</article>
