<form role="search" action="/" method="get">
    <input type="search" name="search" placeholder="Search using #tags or any keyword" aria-label="search" autofocus />
    <input type="submit" value="Search" />
</form>